body {
    background-color: black;
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

#main-container {
    background-image: url(images/Worn-Paper-Texture.jpg);
    background-size: cover;
    height: 100%;
    opacity: 0.9;
    border-left: 5px double #695708;
    border-right: 5px double #695708;
}

#theory-container {
    text-align: center;
    font-size: 50px;
    vertical-align: center;
}

h1 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 60px;
}

#head {
    text-align: center;
    padding-top: 10%;
}