body {
    background-color: black;
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

#theory-container {
    text-align: center;
    margin-top: 10px;
    height: 400px;
    background-image: url(images/Worn-Paper-Texture.jpg);
    background-size: cover;
    opacity: 0.95;
    border: 5px double #000000;
}

#header{
    margin-top:10px;
    background-image: url(images/Worn-Paper-Texture.jpg);
    border: 5px double #000000;
    background-size: cover;
    height: 100px;
}

#button {
    margin-top: 10px;
    background-image: url(images/Worn-Paper-Texture.jpg);
    border: 5px double #000000;
    background-size: cover;
    font-size: 2em;
    color:#000000;
}

#theory-button {
    margin-top: 10px;
    width: 100%;
    background-image: url(images/Worn-Paper-Texture.jpg);
    border: 5px double #000000;
    background-size: cover;
    font-size: 2em;
    color:#000000;
}

h1 {
    font-weight: bold;
    color: #000000;
}